/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
p {
  line-height: 1.5;
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 20px;
  top: 0;
  background-color: #FBF5F3;
}
@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .navigation .menu-icon {
    margin-bottom: 2em;
  }
}
.navigation .hidden {
  display: none;
}
.navigation .menu {
  width: 300px;
  background-color: #FBF5F3;
  position: absolute;
  top: 105px;
  left: 0px;
}
@media (max-width: 500px) {
  .navigation .menu {
    width: 100%;
  }
}
.navigation .menu nav {
  display: flex;
  flex-direction: column;
}
.navigation .menu nav a {
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  color: #000022;
  border-bottom: 1px solid #DE3C4B;
  padding: 15px;
}
.navigation .menu nav a:hover {
  border-bottom: 1px solid #FBF5F3;
  background-color: #DE3C4B;
}
@media (max-width: 500px) {
  .navigation .logo {
    display: none;
  }
}
.navigation .logo h1 {
  color: #000022;
}
.navigation button {
  background-color: #DE3C4B;
  color: #000022;
  border-radius: 2em;
  font-size: 2.4rem;
  text-align: center;
  padding: 15px 40px;
}
.navigation button:hover {
  background-color: #FBF5F3;
  border: 2px solid #DE3C4B;
}
#info {
  background-color: #DE3C4B;
}
#info .card-link {
  text-align: center;
  padding-top: 4em;
}
#info .card-link a {
  text-decoration: none;
  color: #FBF5F3;
  font-size: 2rem;
  padding: 1em;
}
#info .cards {
  width: 75%;
  display: flex;
  overflow-x: auto;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
}
#info .cards .card {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  padding: 5.5em;
  scroll-snap-align: start;
}
#info .cards .card p {
  color: #FBF5F3;
  font-size: 2rem;
  margin-bottom: 1em;
}
