@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
p {
  line-height: 1.5;
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
.top-header {
  display: flex;
  flex-direction: column;
  padding: 12em 0 10em 0;
  background-image: url('images/bg-img.jpg');
  background-color: rgba(238, 238, 238, 0.81) !important;
  background-blend-mode: color;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.top-header .hdr-text {
  font-size: 50px;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .top-header .hdr-text {
    font-size: 30px;
    font-weight: bold;
  }
}
.top-header h2 {
  font-size: 25px;
  margin: 0 auto;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .top-header h2 {
    font-size: 20px;
  }
}
.top-header .buttons {
  margin: 0 auto;
  display: flex;
  width: 20%;
}
@media (max-width: 500px) {
  .top-header .buttons {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .top-header .buttons {
    width: 50%;
  }
}
.top-header .get-started {
  font-size: 20px;
  background-color: #DE3C4Bed;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  border: 0;
}
@media (max-width: 800px) {
  .top-header .get-started {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .top-header .get-started {
    width: 75%;
    margin: 0 auto;
  }
}
.top-header .get-started:hover {
  background-color: #FBF5F3;
  border: 2px solid #DE3C4B;
}
