.about-top{
    text-align: center;
    background-color: @whitesmoke;
    padding: 3em;

    h1{
        font-size: 3rem;
    }
}


.about{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   background-color: @whitesmoke;

    .photo{
       padding: 2em;
       
        img{
            width: 20em;
            height: 20em;
            border-radius: 2em;
            transition: transform .2s; 
        }

        img:hover{
            transform: scale(1.5);
        }

        h2{
            font-size: 1.5rem;
        }

        p{
            font-size: 1.5rem;
        }
    }
}