//INFO section
#info{
    background-color: @coral;

    .card-link {
            text-align: center;
            padding-top: 4em;

        a{
            text-decoration: none;
            color: @textcontrast;
            font-size: 2rem;
            padding: 1em;
    }
}

    .cards{
        width: 75%;
        display: flex;
        overflow-x: auto;
        margin: 0 auto;
        scroll-snap-type: x mandatory;

        .card{
            width: 100%;
            flex-shrink: 0;
            height: 100%;
            padding: 5.5em;
            scroll-snap-align: start;
    
            p{
                color: @textcontrast;
                font-size: 2rem;
                margin-bottom: 1em;
            }
        }
    }
}