//INFO section
#info{
    background-color: @coral;
    text-align: center;
    padding: 7em;
    opacity: 0.75;

    .cards{
        width: 300px;
        height: 300px;
        display: flex;
        overflow-x: auto;

        .card{
            width: 300px;
            flex-shrink: 0;
            height: 100%;
    
            p{
                color: @textcontrast;
                font-size: 1.5rem;
            }
        }
    }
    

    .hide{
        display: none;
    }
}