.navigation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 20px;
    top: 0;
    background-color: @whitesmoke;

    .hidden{
        display: none;
    }

    h1{
        color: @text;
    }

    button{
        padding: 15px 40px;
        font-size: 2.4rem;
        text-align: center;
        background-color: @btn-bkgrnd;
        color: @text;
        opacity: 0.8;
        border-radius: 2em;
    }

    button:hover{
        background-color: @whitesmoke;
        border: 2px solid @coral;
    }
};

